{
  "Actions": [
    {
      "Name": "Forward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "W",
      "GamepadCode": "None"
    },
    {
      "Name": "Backward",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "S",
      "GamepadCode": "None"
    },
    {
      "Name": "Left",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "A",
      "GamepadCode": "None"
    },
    {
      "Name": "Right",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "D",
      "GamepadCode": "None"
    },
    {
      "Name": "Jump",
      "GroupName": "Movement",
      "Title": null,
      "KeyboardCode": "space",
      "GamepadCode": "A"
    },
    {
      "Name": "use",
      "GroupName": "Movement",
      "Title": "Use / Interact",
      "KeyboardCode": "e",
      "GamepadCode": "X"
    },
    {
      "Name": "run",
      "GroupName": "Movement",
      "Title": "Run",
      "KeyboardCode": "shift",
      "GamepadCode": "None"
    },
    {
      "Name": "duck",
      "GroupName": "Movement",
      "Title": "Duck",
      "KeyboardCode": "ctrl",
      "GamepadCode": "None"
    },
    {
      "Name": "view",
      "GroupName": "Movement",
      "Title": "Toggle Camera View",
      "KeyboardCode": "c",
      "GamepadCode": "None"
    },
    {
      "Name": "MoveUp",
      "GroupName": "Gambit",
      "Title": "Move Selector Up",
      "KeyboardCode": "UPARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "MoveDown",
      "GroupName": "Gambit",
      "Title": "Move Selector Down",
      "KeyboardCode": "DOWNARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "MoveLeft",
      "GroupName": "Gambit",
      "Title": "Move Selector Left",
      "KeyboardCode": "LEFTARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "MoveRight",
      "GroupName": "Gambit",
      "Title": "Move Selector Right",
      "KeyboardCode": "RIGHTARROW",
      "GamepadCode": "None"
    },
    {
      "Name": "RotateCCW",
      "GroupName": "Gambit",
      "Title": "Rotate Counter-Clockwise",
      "KeyboardCode": "Z",
      "GamepadCode": "None"
    },
    {
      "Name": "RotateCW",
      "GroupName": "Gambit",
      "Title": "Rotate Clockwise",
      "KeyboardCode": "X",
      "GamepadCode": "None"
    },
    {
      "Name": "Chat",
      "GroupName": "Communication",
      "Title": "Open Chat",
      "KeyboardCode": "T",
      "GamepadCode": "None"
    },
    {
      "Name": "Back",
      "GroupName": "Movement",
      "Title": "Back / Leave",
      "KeyboardCode": "None",
      "GamepadCode": "SwitchLeftMenu"
    },
    {
      "Name": "PadUp",
      "GroupName": "Gamepad",
      "Title": "Pad D-Pad Up",
      "KeyboardCode": "None",
      "GamepadCode": "DpadNorth"
    },
    {
      "Name": "PadDown",
      "GroupName": "Gamepad",
      "Title": "Pad D-Pad Down",
      "KeyboardCode": "None",
      "GamepadCode": "DpadSouth"
    },
    {
      "Name": "PadLeft",
      "GroupName": "Gamepad",
      "Title": "Pad D-Pad Left",
      "KeyboardCode": "None",
      "GamepadCode": "DpadWest"
    },
    {
      "Name": "PadRight",
      "GroupName": "Gamepad",
      "Title": "Pad D-Pad Right",
      "KeyboardCode": "None",
      "GamepadCode": "DpadEast"
    },
    {
      "Name": "PadA",
      "GroupName": "Gamepad",
      "Title": "Pad A",
      "KeyboardCode": "None",
      "GamepadCode": "A"
    },
    {
      "Name": "PadB",
      "GroupName": "Gamepad",
      "Title": "Pad B",
      "KeyboardCode": "None",
      "GamepadCode": "B"
    },
    {
      "Name": "PadX",
      "GroupName": "Gamepad",
      "Title": "Pad X",
      "KeyboardCode": "None",
      "GamepadCode": "X"
    },
    {
      "Name": "PadY",
      "GroupName": "Gamepad",
      "Title": "Pad Y",
      "KeyboardCode": "None",
      "GamepadCode": "Y"
    },
    {
      "Name": "PadLB",
      "GroupName": "Gamepad",
      "Title": "Pad Left Bumper",
      "KeyboardCode": "None",
      "GamepadCode": "SwitchLeftBumper"
    },
    {
      "Name": "PadRB",
      "GroupName": "Gamepad",
      "Title": "Pad Right Bumper",
      "KeyboardCode": "None",
      "GamepadCode": "SwitchRightBumper"
    },
    {
      "Name": "Select",
      "GroupName": "Gambit",
      "Title": "Select board square",
      "KeyboardCode": "mouse1",
      "GamepadCode": "None"
    }
  ],
  "__guid": "9b417992-99ef-428e-9733-efb55d5490b1",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}