{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger",
    "boardcube": "Collide",
    "cabinet": "Collide"
  },
  "Pairs": [
    {
      "a": "boardcube",
      "b": "cabinet",
      "r": "Ignore"
    },
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "284ce367-b6df-4602-9a86-8bd45471f34e",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}
